<div class="post-archive">
  <ul class="posts taxons-list">
    <% posts.each_with_index do |post, index| %>
      <li><%= link_to truncate(h(post.title), :length => 20), post_seo_path(@blog, post) %></li>
    <% end %>
    <li><%= link_to 'Alle Beiträge', blog_posts_path(@blog) %></li>
  </ul>
</div>
