<div class="post-sidebar" data-hook="post-sidebar">
  <nav id="taxonomies" class="sidebar-item" >
    <h6><%= t('.recent_posts') %></h6>
    <%= render 'spree/blogs/shared/archive', :posts => @archive_posts %>
  </nav>
</div>
